:root {
    --main-color : #00B8FF;
    --heading-font-color : #374553;
    --paragraph-font-color : #AAAAAA;
    --background-gray-color : #f7f8f9; 
    --footer-background-color : #28323C;
    --footer-nav-font-color : #C5C8CE;
    --footer-font-color :#646f7c;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.unit-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 16px 32px;
    box-sizing: border-box;
    transition: 0.7s;
}

header svg {
    fill: #fff;
}

header.active svg {
    fill: var(--main-color); 
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.scroll-act {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #ccc;    
}

header.scroll-act svg {
    fill: var(--main-color); 
}

header.scroll-act .hamberger::before,
header.scroll-act .hamberger::after {
    background-color: var(--main-color);
}

header.hide {
    transform: translateY(-100%);
}
#cover > .title-wrap {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    align-items: flex-end;
}
.screen-title {
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
}

h1 {
    width: 112px;
    position: relative;
    z-index: 10;
}

h1 > a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.hamberger {
    width: 32px;
    height: 32px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    z-index: 10;
    position: relative;
}

.hamberger::before,.hamberger::after {
    position: absolute;
    display: block;
    content: '';
    width: 80%;
    height: 3px;
    background-color: #fff;
    transition: 0.4s;
    /* background-color: var(--main-color); */
}

.hamberger.active::before {
    transform: rotate(45deg);
    background-color: var(--main-color);
}

.hamberger.active::after {
    transform: rotate(-45deg);
    background-color: var(--main-color);
}

.hamberger::after {
    transform: translate(-4px, -5px);   
}

.hamberger::before {
    transform: translate(4px, 5px);
}



.hamberger::after {
    margin-left: auto;
}


#cover {
    height: 100vh;
    background-image: url(../image/main_visual_fullscreen.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

#cover > h2 {
    text-align: center;
    font-size: 64px;
    color: white;
    font-weight: 900;
    line-height: 130%;
}

main {
    overflow: hidden;
}

#advantages-container {
    padding : 80px 32px;
    display: flex;
    flex-direction: column;
}

.advantage {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 160px;
}

.advantage:last-child {
    margin-bottom: 0;
}

.advantage > h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--heading-font-color);
    margin-bottom: 32px;
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.advantage > h2::after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;


}

.advantage > p {
    font-size: 18px;
    font-weight: 600;
    color: var(--paragraph-font-color);
    margin-bottom: 48px;
    line-height: 150%;
}

#start-together {
    height: 424px;
    background-color: var(--background-gray-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    line-height: 150%;
    color: var(--paragraph-font-color);
    overflow: hidden;
}

.point-blue {
    color: var(--main-color);
}

.count-up {
    font-weight: 600;
}

.incline {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transform: translateX(80%) skewX(-30deg);
    transition: 1s;
}

footer {
    background-color: var(--footer-background-color);
    padding: 40px 16px 100px;
    color: var(--footer-font-color);
}

.footer-container {
    max-width: 980px;
    margin: 0 auto;
}

footer a {
    color: var(--footer-nav-font-color);
    text-decoration: none;
}

.sns-container {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

footer nav {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.important-information {
    color: #fff;
}


.information {
    display: flex;
    font-size: 13px;
    line-height: 200%;
}

.information > div {
    flex-basis: 50%;
}

.information dl {
    display: flex;
}

.biz-info {
    text-decoration: underline;
}

#app-download {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    width: 360px;
    height: 80px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}


.app-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    width: 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.417);
    animation: dissolve 1.5s 1.2s both;
}

#app-download > p {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 20px;
    animation: dissolve 1s both;
}

#app-download > p::after {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(../image/arrow-down.svg);
}


#app-download > .incline {
    transform: skewX(-30deg) translateX(24px);
    animation: appMove 1s 0.8s both;
}

@keyframes dissolve {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }   
}

@keyframes appMove {
    from {
        left : 100%;
    }

    to {
        left : 0%;
    }
}

.hamberger-click {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000dd;
    display: none;
}

.hamberger-click.active {
    display: block;
}

.hamberger-nav {
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #28323c;
    height: 100vh;
    padding: 0 32px;
    transform: translateX(100%);
}

.hamberger-nav > div {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid #555;
}

.hamberger-nav > div:last-child {
    border-bottom: none;
}

.hamberger-nav > div > a {
    color: white;
    padding: 14px 0;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}

.hamberger-nav > div > a:hover {
    color: var(--main-color);
}

@media screen and (max-width : 800px) {
    #advantages-container {
        padding: 80px 20px;
    }

    #start-together {
        font-size: 24px;
        height: 300px;
    }
    
    .incline {
        transform: translateX(86%) skewX(-30deg);
    }
    
    #app-download {
        width: 96vw;
        height: 60px;
    }

    #app-download > .app-icon {
        width: 40px;
    }

    
}