.scroll-content {
    opacity: 0;
    transition: 2s;
}

.scroll-content.left {
    transform: translateX(-200px);
}

.scroll-content.right {
    transform: translateX(200px);
}

.scroll-content.active {
    opacity: 1;
    transform: none;
    
}