/* header */

header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
    transition: 0.4s;
    padding: 0 32px;
    box-sizing: border-box;
}

header.act {
    background-color: black;
    height: 80px;

}

.header-wrap {
    max-width: 1532px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > svg {
    transition: 0.4s;
}

header.act .logo > svg {
    width: 40px;
    height: 40px;
}

.main-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    translate: calc(-50%);
    letter-spacing: 1px;
}
.main-list-cate {
    height: 100%;
    flex-shrink: 0;
}

.main-list-cate > a {
    width: 100%;
    padding: 0 30px;
    /* line-height: 100px; */
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 16px;  
    box-sizing: border-box;
    align-items: center;
    
}

.main-list-cate > a > span {
    position: relative;
}

.main-list-cate > a > span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background: #fff;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform .3s;
}

.main-list-cate:hover > a > span::after {
    transform-origin: 0% 50%; 
    transform: scale3d(1, 1, 1);
}

.sub-list {
    display: flex;
    gap: 8px;
}


.sub-list-cate > a {
    display: block;
}

/* main view */

.video-area {
    position: relative;
}

.video-area > video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
}

.video-title-area {
    padding: 0 194px;
    position: absolute;
    bottom: 100px;
    left: 0;
    color: white;
}

.video-title-area > h1 {
    font-size: 20px;
    font-weight: 100;
}

.video-title-area .video-main-title {
    padding-top: 10px;
    font-size: 60px;
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 500;
}

.line-break {
    display: none;
}

/* section - bao-items */

#bao-items {
    padding: 0 32px;
}

#bao-items {
    padding-top: 300px;
}

.content-wrap {
    max-width: 1532px;
    margin: 0 auto;
}

.bao-title {
    color: white;
    margin: 0 auto;
    text-align: center;
}

.bao-title > h2 {
    font-size: 60px;
    font-weight: bold;
}

.bao-title > p {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.7;
}

.items-type {
    padding-top: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.items-list {
    width: 25%;
    text-align: center;
}

.list-image-area {
    overflow: hidden;
}

.list-image-area img {
    max-width: 100%;
    transition: all linear 0.2s;
}

.items-list:hover .list-image-area img {
    transform: scale(1.2);
}

.items-list p {
    padding-top: 30px;
    font-size: 20px;
}

/* section - beosound-explore */

#beosound-explore {
    padding: 300px 32px 0;
}

#beosound-explore .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.beosound-video-area > video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
}

.beosound-video-area {
    position: relative;
    margin-bottom: 100px;
}

.beosound-text-area {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.beosound-text-area > h2 {
    flex-shrink: 0;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}

.beosound-text-area > a {
    display: block;
    background-color: #FFC356;
    width: 160px;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 200px;
}

.waterproof-explain {
    max-width: 760px;
    width: 100%;
    border-top: 1px solid white;
    color: white
}

.waterproof-explain > h3 {
    padding-top: 30px;
    font-size: 42px;
    font-weight: 500;
}

.waterproof-explain > p {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.7;
}

.high-battery {
    padding-top: 200px;
    width: 50%;
}

.high-battery-view video {
    width: 100%;
    object-fit: cover;
}

.sub-explain {
    padding-top: 40px;
    color: white;
}

.sub-explain h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.sub-explain p {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.6;
}

.always-connecting {
    padding-top: 200px;
    width: 50%;
}

.always-connecting-view video {
    width: 100%;
    object-fit: cover;
}

.durability {
    width: 100%;
    padding-top: 200px;
}

.durability-view {
    height: 960px;
    overflow: hidden;
    margin-bottom: 100px;
}

.durability-view video {
    width: 100%;
    object-fit: cover;
    object-position: center -150px;
}

.durability-explain {
    max-width: 760px;
    width: 100%;
    border-top: 1px solid white;
    color: white
}

.durability-explain > h3 {
    padding-top: 30px;
    font-size: 42px;
    font-weight: 500;
}

.durability-explain > p {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.7;
}

.etc-detail {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.etc-detail-list  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

ul.etc-detail > li:nth-child(2) {
    align-items: start;
}

.etc-detail-list figure figcaption {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

/* section - home-theater-system */

#home-theater-system {
    padding-top: 300px;
}

.home-textarea {
    text-align: center;
    color: white;
    padding-top: 100px;
}

.home-textarea h2 {
    font-size: 60px;   
    font-weight: 300; 
}

.home-textarea p {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 100;
}

.home-theater-detail {
    padding-top: 300px;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.detail-image-area {
    max-width: 610px;
    width: 100%;
    flex-shrink: 0;
}

.detail-text-area {
    color: white;
}

.detail-text-area span {
    display: block;
    font-size: 20px;
    color: #969696;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.detail-text-area h2 {
    padding-top: 30px;
    font-size: 42px;
    font-weight: 300;
}

.detail-text-area p {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.7;
    word-break: keep-all;
}

.slider-area {
    padding-top: 300px;
    max-width: 1920px;
    width: 100%;
}

.slide-wrapper {
    display: flex;
    justify-content: center;
    width: calc(1120px * 6);
    overflow: hidden;
}

.slide-image-view {
    margin: 0 60px;
    width: 1120px;
    flex-shrink: 0;
    
}

.slide-image-view img {
    width: 100%;
}





