/* header */

header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
    transition: 0.4s;
}

header.act {
    background-color: black;
    height: 80px;

}

.header-wrap {
    height: 100%;
    padding: 0 194px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > svg {
    transition: 0.4s;
}

header.act .logo > svg {
    width: 40px;
    height: 40px;
}

.main-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    translate: calc(-50%);
    letter-spacing: 1px;
}
.main-list-cate {
    height: 100%;
}

.main-list-cate > a {
    width: 100%;
    padding: 0 40px;
    /* line-height: 100px; */
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 16px;  
    box-sizing: border-box;
    align-items: center;
    
}

.main-list-cate > a > span {
    position: relative;
}

.main-list-cate > a > span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background: #fff;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform .3s;
}

.main-list-cate:hover > a > span::after {
    transform-origin: 0% 50%; 
    transform: scale3d(1, 1, 1);
}

.sub-list {
    display: flex;
    gap: 8px;
}


.sub-list-cate > a {
    display: block;
}

/* main view */

.video-area {
    position: relative;
}

.video-area > video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
}

.video-title-area {
    padding: 0 194px;
    position: absolute;
    bottom: 100px;
    left: 0;
    color: white;
}

.video-title-area > h1 {
    font-size: 20px;
}

.video-title-area .video-main-title {
    padding-top: 10px;
    font-size: 60px;
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 500;
}

.line-break {
    display: none;
}

/* section - bao-items */

#bao-items {
    padding-top: 300px;
}

.content-wrap {
    padding: 0 194px;
}

.bao-title {
    color: white;
    margin: 0 auto;
    text-align: center;
}

.bao-title > h2 {
    font-size: 60px;
    font-weight: bold;
}

.bao-title > p {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
}

.items-type {
    padding-top: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.items-list {
    width: 25%;
    text-align: center;
}

.items-list figcaption {
    padding-top: 30px;
    font-size: 20px;
}

/* section - beosound-explore */

#beosound-explore {
    padding-top: 300px;
}

.beosound-video-area > video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
}

.beosound-text-area > h2 {
    font-size: 60px;
    font-weight: bold;
}

.beosound-text-area > a {
    display: block;
    background-color: #FFC356;
    width: 160px;
    line-height: 40px;
    text-align: center;
    border-radius: 200px;
}


