/* header */

header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
    transition: 0.4s;
    padding: 0 32px;
    box-sizing: border-box;
    border-bottom: 1px solid #666;
    background-color: black;
}

header.act {
    background-color: black;
    height: 80px;

}

.header-wrap {
    max-width: 1532px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamberger-nav {
    cursor: pointer;
    width: 32px;
    display: none;
}

.logo > svg {
    transition: 0.4s;
}

header.act .logo > svg {
    width: 40px;
    height: 40px;
}

.main-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    translate: calc(-50%);
    letter-spacing: 1px;
}

.main-list-cate {
    height: 100%;
    flex-shrink: 0;

}

.main-list-cate > a {
    width: 100%;
    padding: 0 30px;
    /* line-height: 100px; */
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 16px;  
    box-sizing: border-box;
    align-items: center;
    
}

.main-list-cate > a > span {
    position: relative;
}

.main-list-cate > a > span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background: #fff;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform .3s;
}

.main-list-cate:hover > a > span::after {
    transform-origin: 0% 50%; 
    transform: scale3d(1, 1, 1);
}

.sub-menu {
    width: 100vw;
    height: 310px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
}

.sub-menu ul {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sub-menu > ul > li > a > span {
    position: relative;
}

.sub-menu > ul > li > a > span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background: #fff;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform .3s;
}

.sub-menu > ul > li:hover > a > span::after {
    transform-origin: 0% 50%; 
    transform: scale3d(1, 1, 1);
}

.sub-image-view {
    width: 360px;
    height: 216px;
    position: relative;
    flex-shrink: 0;
}

.sub-image-list {
    opacity: 0;
}

.sub-image-view > div {
    width: 100%;
    position: absolute;
    top: 0;
}

.sub-image-view > div > img {
    width: 100%;
    height: 100%;
}

/* header expand */

.header-wrap.header-expand .sub-menu {
    display: flex;
}

.header-wrap.header-expand::before {
    content: '';
    display: block;
    width: 100vw;
    height: 310px;
    background-color: black;
    position: absolute;
    top: calc(100% + 0.5px);
    left: 0;
}


.main-list-cate.hover-active .sub-menu {
    opacity: 1;
    z-index: 20;
}


.sub-list {
    display: flex;
    gap: 8px;
}


.sub-list-cate > a {
    display: block;
}

/* main view */

.video-area {
    position: relative;

}

.video-title-wrap {
    width: calc(100% - 64px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1532px;
    display: flex;
    align-items: flex-end;
    
}

.video-area > video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
}

.video-title-text {
    padding-right: 10%;
    padding-bottom: 100px;
    /* left: 0; */
    color: white;

}

.video-title-text > h1 {
    font-size: 20px;
    font-weight: 100;
}

.video-title-text .video-main-title {
    padding-top: 10px;
    font-size: 60px;
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 500;
}

.line-break {
    display: none;
}

/* section - bao-items */

#bao-items {
    padding: 0 32px;
}

#bao-items {
    padding-top: 300px;
}

.content-wrap {
    max-width: 1532px;
    margin: 0 auto;
}

.bao-title {
    color: white;
    margin: 0 auto;
    text-align: center;
}

.bao-title > h2 {
    font-size: 60px;
    font-weight: bold;
}

.bao-title > p {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.7;
}

.items-type {
    padding-top: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.items-list {
    width: 25%;
    text-align: center;
}

.list-image-area {
    overflow: hidden;
}

.list-image-area img {
    max-width: 100%;
    transition: all linear 0.2s;
}

.items-list:hover .list-image-area img {
    transform: scale(1.2);
}

.items-list p {
    padding-top: 30px;
    font-size: 20px;
}

/* section - beosound-explore */

#beosound-explore {
    padding: 300px 32px 0;
}

#beosound-explore .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.beosound-video-area > video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
}

.beosound-video-area {
    position: relative;
    margin-bottom: 100px;
}

.beosound-text-area {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.beosound-text-area > h2 {
    flex-shrink: 0;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}

.beosound-text-area > a {
    display: block;
    background-color: #FFC356;
    width: 160px;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 200px;
}

.waterproof-explain {
    max-width: 760px;
    width: 100%;
    border-top: 1px solid white;
    color: white
}

.waterproof-explain > h3 {
    padding-top: 30px;
    font-size: 42px;
    font-weight: 500;
}

.waterproof-explain > p {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.7;
}

.high-battery {
    padding-top: 200px;
    width: 50%;
}

.high-battery-view video {
    width: 100%;
    object-fit: cover;
}

.always-connecting {
    padding-top: 200px;
    width: 50%;
}

.sub-explain {
    padding-top: 40px;
    color: white;
}

.sub-explain h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.sub-explain p {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.6;
}

.always-connecting {
    padding-top: 200px;
    width: 50%;
}

.always-connecting-view video {
    width: 100%;
    object-fit: cover;
}

.durability {
    width: 100%;
    padding-top: 200px;
}

.durability-view {
    height: 850px;
    overflow: hidden;
    margin-bottom: 100px;
}

.durability-view video {
    width: 100%;
    object-fit: cover;
    object-position: center -150px;
}

.durability-explain {
    max-width: 760px;
    width: 100%;
    border-top: 1px solid white;
    color: white
}

.durability-explain > h3 {
    padding-top: 30px;
    font-size: 42px;
    font-weight: 500;
}

.durability-explain > p {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.7;
}

.etc-detail {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.etc-detail-list  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

ul.etc-detail > li:nth-child(2) {
    align-items: start;
}

.etc-detail-list figure figcaption {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

/* section - home-theater-system */

#home-theater-system {
    padding-top: 300px;
    overflow: hidden;
}

.home-textarea {
    text-align: center;
    color: white;
    padding-top: 100px;
}

.home-textarea h2 {
    font-size: 60px;   
    font-weight: 300; 
}

.home-textarea p {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 100;
}

.home-theater-detail {
    padding-top: 300px;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.detail-image-area {
    max-width: 610px;
    width: 100%;
    flex-shrink: 0;
}

.detail-text-area {
    color: white;
}

.detail-text-area span {
    display: block;
    font-size: 20px;
    color: #969696;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.detail-text-area h2 {
    padding-top: 30px;
    font-size: 42px;
    font-weight: 300;
}

.detail-text-area p {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.7;
    word-break: keep-all;
}

.slider-area {
    padding-top: 300px;
    max-width: 1920px;
    width: 1120px;
}

.slide-wrapper {
    display: flex;
    width: calc(1120px * 5 + 206px);
    transform: translateX(calc -(1120px + 206px) * 1);
}

.slide-image-view {
    margin: 0 60px;
    width: 1120px;
    flex-shrink: 0;  
}

.slide-image-view img {
    width: 100%;
}

/* section - anc-system */

#anc-system {
    padding: 300px 32px 0;
}

.anc-system-area {
    color: white;
}

.anc-system-area > p {
    font-size: 20px;
    font-weight: 100;
    border-bottom: 1px solid white;
    padding-bottom: 14px;
}

.anc-system-area > div {
    display: flex;
    border-bottom: 1px solid white;
    align-items: center;
    font-size: 60px;
    font-weight: 300;
    padding: 24px 0;
}

.anc-setting {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 300px;
    color: white;
    position: relative;
}

.anc-setting-content {
    max-width: 50%;
    flex-shrink: 0;
    position: sticky;
    top: 100px;
    left: 0;
    height: fit-content;
}

.anc-setting-title > h3 {
    font-size: 42px;
    font-weight: 300;
}

.anc-setting-title > p {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 100;
    max-width: 700px;
    width: 100%;
    line-height: 1.7;
}

.anc-video-area {
    padding-top: 40px;
    max-width: 100%;
    height: 600px;
}

.anc-video-area video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.anc-detail-area {
    max-width: 50%;
    padding-top: 190px;
}

.anc-explain-area > li {
    border-top: 1px solid white;
    margin-bottom: 40px;
}

.anc-explain-area > li:last-child {
    margin-bottom: 0;
}

.anc-explain-area > li > h4 {
    padding-top: 30px;
    font-size: 30px;
    font-weight: 300;
}

.anc-explain-area > li > p {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.7;
}

/* footer */

footer {
    margin-top: 300px;
    background-color: #222222;
    padding: 0 32px;
}

.footer-wrap {
    padding-top: 80px;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.footer-menu-list {
    width: 224px;
}

.footer-submenu-list {
    font-size: 14px;
    padding: 10px 10px;
}

.footer-menu-list > input[type=checkbox] {
    display: none;
}

.footer-menu-list > input[type=checkbox]+label span {
    background-image: url('../icon/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.footer-menu-list > input[type=checkbox]:checked+label span {
    background-image: url('../icon/arrow-up.svg');
}

.footer-menu-list .footer-submenu {
    margin-bottom: 20px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    
}

.footer-menu-list > input[type=checkbox]:checked~.cm-h {
    height: 156px;
}

.footer-menu-list > input[type=checkbox]:checked~.cp-h {
    height: 204px;
}

.footer-menu-list > input[type=checkbox]:checked~.ci-h {
    height: 306px;
}

.footer-menu-list > input[type=checkbox]:checked~.sl-h {
    height: 170px;
}

.footer-menu-list > input[type=checkbox]:checked~.da-h {
    height: 102px;
}

.copyright {
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright h2 {
    font-size: 32px;
    font-weight: 500;
}

.copyright a {
    padding: 14px 36px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 14px;
}

.company-info {
    padding-top: 20px;
    color: white;
    font-size: 12px;
    line-height: 1.8;
    font-weight: 100;
}

@media screen and (max-width : 1024px) {
    .gnb {
        display: none;
    }

    .hamberger-nav {
        display: block;
    }

    .video-title-text .video-main-title {
        font-size: 52px;
    }
}

