header {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid rgba(179, 179, 179, 0.3);
}

.hidden {
    display: none;
}

.header-wrap {
    height: 100px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
}

nav.menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.menu > ul > li > a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 38px 30px;
    position: relative;
}

nav.menu > ul > li:last-child > a::after {
    content: '';
    display: block;
    background-image: url(../image/icon_arrow_tp.png);
    background-position: 0;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 45%;
    right: 14%;
}

nav.menu > ul > li:hover > a {
    color: #EA002C;
}

nav.menu > ul > li:hover > a::after {
    background-image: url(../image/icon_arrow_tpSel.png);
}

.navi-bar {
    width: 60px;
    height: 50px;
}

.navi-bar > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi-bar > a > span {
    position: relative;
    width: 22px;
    height: 2px;
    background-color: white;
    font-size: 0;
}

.navi-bar > a > span::before, .navi-bar > a > span::after {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    background-color: white;
}

.navi-bar > a > span::before {
    top: -7px;
}

.navi-bar > a > span::after {
    top: 7px;
}

#main-banner > .main-movie {
    position: relative;
}

#main-banner > .main-movie > .video {
    width: 100%;
    height: 100vh;
}

#main-banner > .main-movie > .video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main-banner > .main-movie > .video-content {
    padding-left: 5%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.bar-animation {
    width:20px;
    height: 20px;;
    position: relative;
    margin-bottom: 20px;   
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #EA002C;
    position: absolute;
    top: 0;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #EA002C;
    position: absolute;
    top: calc(50% - 1px);
}

div.right {
    right: 0;
}

div.right > .plus {
    display: block;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}

.text-animation {
    position: absolute;
    top: -2px;
    left: calc(100% + 8px);
    font-size: 22px;
    line-height: 22px;
    font-weight: 900;
    color: #EA002C;
    letter-spacing: 0;
}

.main-text {
    font-size: 56px;
    font-weight: 900;
    color: white;
    line-height: 80px;
    letter-spacing: -2px;
}


.main-addexplain {
    font-size: 24px;
    color: white;
    padding-top: 40px;
    padding-left: 6px;
    letter-spacing: 0;
}

#welcome-record {
    padding-top: 250px;

}

#welcome-record > h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 84px;
    letter-spacing: -2px;
}

.power-describe {
    padding: 0 60px;
    display: flex;
}

.power-describe-list {
    width: 25%;
    text-align: center;
}

.record-image > img {
    padding: 20px 0 20px;
}

.record-image > figcaption {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: #222222;
}

.record-text {
    padding: 60px 0 14px;
}

.count-up {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -3px;
}

.record-text > span:last-child {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.record-addexplain {
    font-size: 16px;
    font-weight: 400;
    color: #767676;
    padding: 4px 0 8px;
}
