header {
    background: transparent;
    display: fixed;
}

.hidden {
    display: none;
}

.header-wrap {
    height: 100px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 46px; */
}

nav.menu > ul > li > a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    padding: 38px 30px;
    position: relative;
}

nav.menu > ul > li:last-child > a::after {
    content: '';
    display: block;
    background-image: url(../image/icon_arrow_tp.png);
    background-position: 0;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 45%;
    right: 14%;
}

nav.menu > ul > li:hover > a {
    color: #EA002C;
}

nav.menu > ul > li:hover > a::after {
    background-image: url(../image/icon_arrow_tpSel.png);
}

.navi-bar {
    padding: 20px 20px;
    height: 50px;
}

.navi-bar > a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.navi-bar > a > span {
    width: 22px;
    height: 2px;
    background-color: white;
    font-size: 0;
}

.navi-bar > a > span::before, .navi-bar > a > span::after {
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    background-color: white;
}

#main-banner > .main-movie {
    width: 100%;
}


